  <%- attributes = Masq::Engine.config.masq['attribute_mappings'].keys %>
  <div class="row inline space">
    <%= form.label :title, t(:title) %>
    <%= form.text_field :title %>
  </div>

  <%- if attributes.include? :nickname %>
  <h3><%=t :personal_information %></h3>
  <div class="row inline">
    <%= form.label :nickname, property_label_text(:nickname) %>
    <%= form.text_field :nickname %>
  </div>
  <% end %>
  <%- if attributes.include? :fullname %>
  <div class="row inline">
    <%= form.label :fullname, property_label_text(:fullname) %>
    <%= form.text_field :fullname %>
  </div>
  <% end %>
  <%- if attributes.include? :email %>
  <div class="row inline">
    <%= form.label :email, property_label_text(:email) %>
    <%= form.text_field :email %>
  </div>
  <% end %>
  <%- if attributes.include? :address %>
  <div class="row inline">
    <%= form.label :address, property_label_text(:address) %>
    <%= form.text_field :address %>
  </div>
  <% end %>
  <%- if attributes.include? :address_additional %>
  <div class="row inline">
    <%= form.label :address_additional, property_label_text(:address_additional) %>
    <%= form.text_field :address_additional %>
  </div>
  <% end %>
  <%- if attributes.include? :postcode %>
  <div class="row inline">
    <%= form.label :postcode, property_label_text(:postcode) %>
    <%= form.text_field :postcode %>
  </div>
  <% end %>
  <%- if attributes.include? :city %>
  <div class="row inline">
    <%= form.label :city, property_label_text(:city) %>
    <%= form.text_field :city %>
  </div>
  <% end %>
  <%- if attributes.include? :state %>
  <div class="row inline">
    <%= form.label :state, property_label_text(:state) %>
    <%= form.text_field :state %>
  </div>
  <% end %>
  <%- if attributes.include? :country %>
  <div class="row inline">
    <%= form.label :country, property_label_text(:country) %>
    <%= form.select :country, countries_for_select, { :include_blank => true } %>
  </div>
  <% end %>
  <%- if attributes.include? :language %>
  <div class="row inline">
    <%= form.label :language, property_label_text(:language) %>
    <%= form.select :language, languages_for_select, { :include_blank => true } %>
  </div>
  <% end %>
  <%- if attributes.include? :timezone %>
  <div class="row inline">
    <%= form.label :timezone, property_label_text(:timezone) %>
    <%= form.select :timezone, ActiveSupport::TimeZone::MAPPING.values.sort, { :include_blank => true } %>
  </div>
  <% end %>
  <%- if attributes.include? :gender %>
  <div class="row inline">
    <%= form.label :gender, property_label_text(:gender) %>
    <%= form.select :gender, [['Male', 'M'], ['Female', 'F']], { :include_blank => true } %>
  </div>
  <% end %>
  <%- if attributes.include? :date_of_birth %>
  <div class="row inline space">
    <%= form.label :dob_day, property_label_text(:dob) %>
    <%= select_day persona.dob_day, :prefix => 'persona', :field_name => 'dob_day', :include_blank => true %>
    <%= select_month persona.dob_month, :prefix => 'persona', :field_name => 'dob_month', :include_blank => true %>
    <%= select_year persona.dob_year, :prefix => 'persona', :field_name => 'dob_year', :include_blank => true, :start_year => (Date.today.year - 100), :end_year => Date.today.year %>
  </div>
  <% end %>

  <%- if attributes.include? :company_name %>
  <h3><%=t :professional_information %></h3>
  <div class="row inline">
    <%= form.label :company_name, property_label_text(:company_name) %>
    <%= form.text_field :company_name %>
  </div>
  <% end %>
  <%- if attributes.include? :job_title %>
  <div class="row inline">
    <%= form.label :job_title, property_label_text(:job_title) %>
    <%= form.text_field :job_title %>
  </div>
  <% end %>
  <%- if attributes.include? :address_business %>
  <div class="row inline">
    <%= form.label :address_business, property_label_text(:address_business) %>
    <%= form.text_field :address_business %>
  </div>
  <% end %>
  <%- if attributes.include? :address_additional_business %>
  <div class="row inline">
    <%= form.label :address_additional_business, property_label_text(:address_additional_business) %>
    <%= form.text_field :address_additional_business %>
  </div>
  <% end %>
  <%- if attributes.include? :postcode_business %>
  <div class="row inline">
    <%= form.label :postcode_business, property_label_text(:postcode_business) %>
    <%= form.text_field :postcode_business %>
  </div>
  <% end %>
  <%- if attributes.include? :city_business %>
  <div class="row inline">
    <%= form.label :city_business, property_label_text(:city_business) %>
    <%= form.text_field :city_business %>
  </div>
  <% end %>
  <%- if attributes.include? :state_business %>
  <div class="row inline">
    <%= form.label :state_business, property_label_text(:state_business) %>
    <%= form.text_field :state_business %>
  </div>
  <% end %>
  <%- if attributes.include? :country_business %>
  <div class="row inline space">
    <%= form.label :country_business, property_label_text(:country_business) %>
    <%= form.select :country_business, countries_for_select, { :include_blank => true } %>
  </div>
  <% end %>

  <%- unless attributes.index {|attr| attr.start_with? 'phone' }.nil? %>
    <h3><%=t :phone %></h3>
    <%- [:phone_home, :phone_mobile, :phone_fax, :phone_work].each do |attr| %>
      <%- if attributes.include? attr %>
        <div class="row inline">
          <%= form.label attr, property_label_text(attr) %>
          <%= form.text_field attr %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%- unless attributes.index {|attr| attr.start_with? 'im_' }.nil? %>
    <h3><%=t :instant_messaging %></h3>
    <%- [:im_aim, :im_icq, :im_msn, :im_yahoo, :im_jabber, :im_skype].each do |attr| %>
      <%- if attributes.include? attr %>
        <div class="row inline">
          <%= form.label attr, property_label_text(attr) %>
          <%= form.text_field attr %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%- other_information = [:biography, :image_default, :web_default, :web_blog] %>
  <%- if (attributes - other_information).size != attributes %>
    <h3><%=t :other_information %></h3>
    <%- other_information.each do |attr| %>
      <%- if attributes.include? attr %>
        <div class="row inline">
          <%= form.label attr, property_label_text(attr) %>
          <%= form.text_field attr %>
        </div>
      <% end %>
    <% end %>
  <% end %>
